!           NOTE: THIS FILE DOES NOT ALLOW APOSTROPHES IN COMMENTS!
!                                WHY NOT?!
! Use Terminus font
! Terminus 12 bold looks the same as medium (too small for them to
! differentiate them, I guess), so use 14 for now
! For some reason, this way of declaring fonts gets me -terrible- screen
! refreshes ON ATI CARDS (HD6770, HD7850):
!URxvt.font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
! Like, it is slow as balls to print new lines. So instead, use xft:
!URxvt.font: xft:Terminus:size=12
! xft uses sizes differently or something, so xft 10 = other 14
! Watch out, because some sizes will print the font in the same way, but with
! padding on the top and bottom of lines! e.g. try using size=12 - it will look
! almost identical, except for larger lines (and also, it seems some
! characters are affected, like the non-ASCII left quote mark (perhaps because
! another font may be used?)
! size 8 is too small to display bold differently
! Terminus will not work in italic in XFT??? :(

URxvt.font: xft:Terminus:size=10
URxvt.italicFont: xft:DejaVu Sans Mono:size=10:italic
URxvt.boldItalicFont: xft:DejaVu Sans Mono:size=10:bold:italic

! Turn off scrollbar
URxvt.scrollBar: false

! Hide mouse pointer if over window and either typing or not moved for ~2 secs
URxvt.pointerBlank: true

! Clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Make borderless (not guaranteed to work -- only asks the window manager)
!URxvt.borderLess: true

! Native transparency
URxvt.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
!URxvt.shading: 15


! Linux console colourscheme

! background colour
URxvt.background:  #000000

! foreground text colour
URxvt.foreground:  #AAAAAA

! black
URxvt.color0:       #000000
URxvt.color8:       #555555

! red
URxvt.color1:       #AA0000
URxvt.color9:       #FF5555

! green
URxvt.color2:       #00AA00
URxvt.color10:      #55FF55

! yellow
URxvt.color3:       #AA5500
URxvt.color11:      #FFFF55

! blue
URxvt.color4:       #0000AA
URxvt.color12:      #5555FF

! purple
URxvt.color5:       #AA00AA
URxvt.color13:      #FF55FF

! cyan
URxvt.color6:       #00AAAA
URxvt.color14:      #55FFFF

! white
URxvt.color7:       #AAAAAA
URxvt.color15:      #FFFFFF


! Zenburn colourscheme (in progress)
!TODO

! background colour
!URxvt.background:  #3A3A3A

! foreground text colour
!URxvt.foreground:  #D7D7D7

! black
!URxvt.color0:      #1E2320
!URxvt.color8:      #709080

! red
!URxvt.color1:      #705050
!URxvt.color9:      #dca3a3

! green
!URxvt.color2:      #87af87
!URxvt.color10:     #c3bf9f

! yellow
!URxvt.color3:      #dfaf8f
!URxvt.color11:     #f0dfaf

! blue
!URxvt.color4:      #506070
!URxvt.color12:     #94bff3

! purple
!URxvt.color5:      #dc8cc3
!URxvt.color13:     #ec93d3

! cyan
!URxvt.color6:      #8cd0d3
!URxvt.color14:     #93e0e3

! white
!URxvt.color7:      #dcdccc
!URxvt.color15:     #ffffff
